/* basic reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-color: #f5efe6;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  padding: 1rem;
  font-family: sans-serif;
}

.container {
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
  padding: 20px;
  overflow: hidden;
  position: relative;
}

/* screens */
.screen {
  display: none;
  padding: 2rem;
}
.screen.active {
  display: block;
}

/* start screen */
#start-screen h1 {
  color: rgb(245, 144, 11);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.quiz-header {
  margin-bottom: 2rem;
}

#question-text {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  line-height: 1.4;
}

.quiz-info {
  display: flex;
  justify-content: space-between;
  color: #666;
  font-size: 1rem;
  margin-bottom: 10px;
}

.answers-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.answer-btn {
  background-color: #f5efe6;
  color: #333;
  border: 2px solid #eadbc8;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  text-align: left;
  transition: all 0.3s ease;
}

.answer-btn:hover {
  background-color: #eadbc8;
  border-color: #f5efe6;
}

.answer-btn.correct {
  background-color: #c8e6c9;
  border-color: #a5d6a7;
  color: green;
}

.answer-btn.wrong {
  background-color: #ffcdd2;
  border-color: #ef9a9a;
  color: red;
}

.progress-bar {
  height: 10px;
  background-color: #e0e0e0;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progress {
  height: 100%;
  background-color: coral;
  width: 0%;
  transition: width 0.3s ease;
}

/* RESULT SCREEN */
#result-screen h1 {
  color: coral;
  margin-bottom: 30px;
}

.result-info {
  background-color: #e0e0e0;
  padding: 28px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.result-info p {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 1rem;
}

#result-message {
  font-size: 1.5rem;
  font-weight: 600;
  color: chocolate;
}

button {
  background-color: coral;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
  font-size: 1.1rem;
  cursor: pointer;
}

button:hover {
  background-color: #ff7f50;
}

/* responsive */
@media (max-width: 500px) {
  .screen {
    padding: 1rem;
  }
  #start-screen h1 {
    font-size: 2rem;
  }
}